@font-face {
  font-family: 'McFont';
  src: url('src/text/Minecraft.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body{
  
}
#hiddenmima{
  background-color:#2e64fe;
  color:#2e64fe;
}
#hiddenmima:hover{
  background-color:White;
}
p{
  color:#3399ff;
}
a{
  color:White;
  background-image:url('src/pictures/button.png');
  text-decoration:none;
  background-size:200% 100%;
  background-repeat:repeat-x;
  font-family:'McFont';
  display:block;
  width:200%;
}
