@font-face {
  font-family: 'McFont';
  src: url('src/text/Minecraft.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
#hiddenmima{
  background-color:#2e64fe;
  color:#2e64fe;
}
#hiddenmima:hover{
  background-color:White;
}
h1{
  text-align:center;
}
p{
  color:#3399ff;
  
}
a{
  color:White;
  background-image:url('src/pictures/button.png');
  text-decoration:none;
  font-family:'McFont';
  display:block;
  width:160px;
  text-align:center;
}
footer{
  text-align: center;
  background-color:#d3d3f7;
}
