@font-face {
  font-family: 'McFont';
  src: url('src/text/Minecraft.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body{
  background-color:Black;
}
p{
  color:White;
}
a{
  color:Cyan;
  background-image:url('src/pictures/button.png');
  text-decoration:none;
  background-size:150% 100%;
  background-repeat:repeat-x;
  font-family:'McFont';
}
